$tossBlue: #5170cc;
$tossLightBlue: #6488ff;
$tossDarkBlue: #3d56a5;
$neonGreen: #58debe;
$grey: #e0e0e0;

* {
    box-sizing: border-box;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

%label {
    flex: 0 0 auto;
    line-height: 15px;
    font-size: 12px;
    color: $grey;
}

#app {
    position: relative;
    background-color: $tossBlue;

    width: 100%;
    height: 100%;

    @media only screen and (min-device-width: 600px) {
        // Simulate iPhone 8 on wider screen
        width: 375px;
        height: 667px;
    }

    display: flex;
    flex-direction: column;
    overflow: hidden;

    .flickity-viewport {
        width: 100%;

        &,
        & * {
            box-sizing: content-box;
        }
    }

    .flickity-slider {
        overflow-x: visible;
    }

    .flickity-page-dots {
        .dot {
            margin: 0 4px;
            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            border: 1px solid $neonGreen;
            background: $tossBlue;

            &.is-selected {
                background: $neonGreen;
            }
        }
    }
}

.title {
    color: white;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    text-align: center;

    margin: 20px 0 0;
}

.content {
    padding: 40px 0 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.amount-popup {
    padding: 40px 10px 10px;

    transition: visibility 0s 0.3s, opacity 0.3s ease;

    visibility: hidden;
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0;

    background-color: $tossBlue;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.transfer {
    flex: 0 0 auto;
    width: 100%;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
}

.amount-wrapper {
    width: 100%;
    padding: 0 10px;

    display: flex;
    flex-direction: column;

    margin-bottom: 40px;
}

.amount-label,
.amount-label-placeholder {
    @extend %label;
}

.amount-input-wrapper {
    position: relative;

    display: flex;

    flex: 0 0 auto;

    margin-bottom: 4px;
    height: 32px;
}

.amount-input-opener,
.amount-input,
.amount-input-window,
.amount-input-last-character,
.amount-input-unit {
    color: white;
    font-size: 16px;
    border-radius: 0;
}

.amount-input {
    color: transparent;
    padding: 6px 0;

    font-family: initial;
    background-color: transparent;
    border: none;
    outline: none;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    border-bottom: 1px solid $grey;
    &:focus {
        border-bottom: 1px solid white;
    }
}

.amount-input-opener {
    @extend .amount-input-wrapper;

    cursor: pointer;
    border-bottom: 1px solid $grey;

    &:not(:empty)::after {
        margin-left: 2px;
        content: '원';
    }
}

.amount-input-opener,
.amount-input-window,
.amount-input-last-character,
.amount-input-unit {
    padding: 6px 0;
}

.amount-input-last-character.fall {
    animation: fall 0.5s ease;
}

.amount-input-unit {
    margin-left: 2px;
}

@keyframes fall {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.amount-helper {
    flex: 0 0 auto;
    min-height: 15px;
    line-height: 15px;
    font-size: 12px;
    color: white;

    &.error {
        color: orange;
    }
}

.amount-helper-placeholder {
    height: 15px;
}

.account-selection {
    visibility: hidden; // Initially hidden

    padding: 0 10px;
}

.accounts-label {
    @extend %label;
}

.accounts {
    margin: 4px -20px 0;
    transition: 0.3s transform ease;
    display: flex;
    overflow-x: visible;

    margin-bottom: 12px;
}

.account-dimmer {
    transition: opacity 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.1;
}

.account-item {
    position: relative;

    cursor: pointer;

    flex: 0 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: calc(100% - 72px);
    padding: 12px 16px;
    border-radius: 2px;
    background-color: $tossLightBlue;

    margin-left: 10px;

    &.is-selected > .account-dimmer {
        opacity: 0;
    }
}

.account-name {
    font-size: 12px;
    color: white;
    margin-bottom: 4px;
}

.account-additional-info {
    font-size: 10px;
    color: $grey;
}

.send {
    width: 100%;
    padding: 0 10px;
    visibility: hidden; // Initially hidden

    display: flex;
    flex-direction: column;
    align-items: center;
}

.send-helper-badge {
    padding: 6px 8px 4px;
    border-radius: 12px;
    background-color: $tossDarkBlue;

    font-size: 12px;

    color: white;

    em {
        color: $neonGreen;
        font-style: normal;
        font-weight: bold;
    }
}

.send-button,
.confirm-button {
    cursor: pointer;
    transition: background-color 0.2s ease;

    border-radius: 4px;
    width: 100%;
    padding: 10px 0;
    margin-top: 12px;

    color: $tossBlue;
    border: 1px solid rgba($grey, 0.3);
    background-color: white;

    font-weight: bold;
    font-size: 14px;
    text-align: center;

    &:disabled {
        cursor: not-allowed;
        background-color: #c0c0c0;
        color: #b0b0b0;
    }

    &:not(:disabled):hover {
        background-color: $grey;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
    }
}

.loading-splash {
    transition: visibility 0s 0.3s, opacity 0.3s ease;
    background-color: $tossBlue;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

.loading-text {
    font-weight: bold;
}